page-quem {
	
	ion-content {
		//background-image: url('../assets/imgs/funasa.png');
		background-size:     contain;                      
		background-repeat:   no-repeat;
		background-position: center center; 		
		opacity: 0.9;
	}
	
}
